/* 
  --color-primary: #4F772D;
  --color-dark: #132A13;
  --color-light: #90A955;
  --color-lighter: #31572C;
  --color-highlight: #ECF39E;
*/

.ghostAside {
  position: absolute;
  pointer-events: none;
  overflow-anchor: none;
  height: 200px;
  width: 400px;
}

/* GHOST ELEMENT */
.ghostContent {
  /* layout för text + ikon */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
}

.ghostText {
  color: var(--color-primary);
}

.line1 {
position: relative;
top: 5px;
font-size: 1.5rem;
}

.line2 {
position: relative;
left: 2px;
font-size: 1.25rem;
}

.date {
position: relative;
left: 6px;
font-size: 1rem;
color: var(--color-light);
}

/* GHOST ICON */
.ghostIcon {
    width: 150px;
    height: 150px;
}

/* GHOST ICON COLORS */
.background {
fill: transparent;
}

.outline {
fill: var(--color-primary)
}

.ghostBackground {
fill: var(--color-light)
}

.middleHighlight {
fill: var(--color-lighter)
}

.restHighlight {
fill: var(--color-lighter)
}

.leftHighlight {
fill: var(--color-lighter)
}
.mouth {
fill: var(--color-primary)

}
.leftEye {
fill: var(--color-primary)
}
.rightEye {
fill: var(--color-primary)
}
